.chatWindow {
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Navbar*/

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar span {
    margin: 1rem 2rem;
}

.userIconDiv {
    margin: 1rem 2rem;
}

.userIcon {
    background-color: #195455;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Chat Input */

.chatInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBox {
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    font-size: 0.8rem;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

#submit {
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 20px;
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit i:hover {
    color: #fff;
}

.info {
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4;
}

/* Dropdown CSS */

.dropDown{
    position: absolute;
    top: 4rem;
    right: 4rem;
    width: 150px;
    
    background-color: #323232;
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    text-align: left;
    z-index: 1000;
    box-shadow: 0px 2px 8px rgba(64, 155, 200, 0.1);
}

.dropDownItem {
    font-size: 0.8rem;
    margin: 0.3rem 0rem;
    padding: 0.5rem 0.2rem;
    cursor: pointer;
}

.dropDownItem i {
    font-size: 0.8rem;

}

.dropDownItem:hover {
    background-color: rgba(180, 180, 180, 0.1);
    border-radius: 6px;
}

/* Dark blur overlay */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

/* Glass card */
.modal-content {
    width: 50%;
    max-width: 520px;
    min-width: 350px;

    padding: 50px 40px;

    border-radius: 20px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);

    color: white;

    animation: popup 0.3s ease;
}

@keyframes popup {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-content {
    position: relative;  
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;

    background: transparent;
    border: none;
    color: white;

    font-size: 22px;
    cursor: pointer;

    transition: 0.2s;
}

.close-btn:hover {
    transform: scale(1.2);
    color: #3bb4ad;
}
