.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h2 {
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: 600;
}

.subtitle {
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.login-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-container input {
    padding: 14px;
    margin-bottom: 18px;

    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.2);

    background: rgba(255,255,255,0.1);
    color: white;

    outline: none;
    transition: 0.3s;
}

.login-container input::placeholder {
    color: rgba(255,255,255,0.6);
}

.login-container input:focus {
    border: 1px solid #3bb4ad;
    box-shadow: 0 0 10px rgba(59, 180, 173, 0.6);
}

/* Gradient button */
.login-container button {
    padding: 14px;
    border-radius: 12px;
    border: none;

    background: linear-gradient(135deg, #3bb4ad, #2b7a78);
    color: white;

    font-weight: bold;
    font-size: 16px;

    cursor: pointer;
    transition: 0.3s;
}

.login-container button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(59, 180, 173, 0.5);
}

.switch-text {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
}

.switch-text:hover {
    color: #3bb4ad;
}
