.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 0.5px rgba(17, 16, 16, 0.5);
    cursor: pointer;
}

.logo {
    height: 35px;
    width: 35px;
    background-color: #171717;
    object-fit: cover;
}

button span {
    font-size: 20px;
}

button:hover {
    background-color: rgba(132, 237, 226, 0.05);
}

.history {
    margin: 10px;
    padding: 10px;
    height: 100%;
    flex: 1;          
    overflow-y: auto;   
}

/* Scrollbar width */
.history::-webkit-scrollbar {
    width: 6px;
}

/* Scrollbar track */
.history::-webkit-scrollbar-track {
    background: transparent;
}

/* Scrollbar thumb */
.history::-webkit-scrollbar-thumb {
    background-color: #323232;
    border-radius: 10px;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 12px;
    border: solid 8px transparent;
    position: relative;
}

.history li:hover {
     background-color: rgba(132, 237, 226, 0.05);
     border-radius: 10px;
}

.sign {
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    border-top: solid 0.25px rgba(68, 63, 63, 0.5);
}

.sign:hover {
    background-color: rgba(132, 237, 226, 0.05);
    cursor: pointer;
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 0;
}

.history li:hover .fa-trash {
    opacity: 1;
    color: #fff;
}

.fa-trash:hover {
    color: #f87171 !important;
}

/* Highlist Current Chat */
.highlighted {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}/* Hide menu button on desktop */
.menu-btn {
  display: none;
}

/* Hide close button on desktop */
.close-btn {
  display: none;
}


/* Mobile version */
@media (max-width: 768px) {

  .sidebar {
    position: fixed;
    left: -100%;
    top: 0;
    width: 260px;
    height: 100vh;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .sidebar.active {
    left: 0;
  }

  .menu-btn {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 18px;
    background: none;
    border: none;
    color: white;
    z-index: 1100;
  }

   .close-btn {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    margin: 10px;
    text-align: right;
  }
}


